# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnail cache files
._*

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*.swn
*.log
*.zip

# Node modules and vendor directories
node_modules/
vendor/

# IDE and editor directories
.vscode/
.idea/
*.code-workspace